nav{
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    border-radius: 0 0 15px 15px;
    box-shadow: rgb(20, 20, 20) 0 10px 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(0, 0, 0);
}

nav li{
    display: inline;
    padding: 15px 30px;
}

nav li a{
    text-decoration: none;
    font-size: large;
    color: white;
    font-family: sans-serif;
    text-shadow: rgb(255, 255, 255) 0 0 12px;
    transition: font-size 0.2s ease;
}

nav img{
    border-radius: 50px;
    position: absolute;
    top: 10px;
    left: 50px;
    box-shadow: rgb(255, 255, 255) 0 0 12px;
}

nav li a:hover{
    font-size: 22px;
    color: gray;
}

#Options{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    text-shadow: rgb(255, 255, 255) 0 0 10px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15%;
}

.optContainer ul li{
    background-color: rgb(226, 226, 226);
    display: inline-block;
    width: 25%;
    margin: 25px;
    border-radius: 25px;
    padding: 30px 0;
    text-align: center;
    box-shadow: white 0 0 10px;
    font-family: sans-serif;
    transition: padding 0.4s ease;
}

.optContainer ul li img{
    border-radius: 10px;
    box-shadow: black 0 0 5px;
    margin-bottom: 30px;
}

.optContainer ul li a{
    padding: 10px 30px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
    transition: padding 0.3s ease;
    box-shadow: black 0 0 4px;    
}

.optContainer ul li h2{
    margin-bottom: 25px;
    text-shadow: black 0 0 4px;
    cursor: default;
}

.optContainer li:hover{
    padding: 40px 10px;
    background-color: rgb(194, 194, 194);
}

.optContainer li a:hover{
    padding: 10px 50px;
    background-color: rgb(134, 88, 1);
    color: rgb(180, 180, 180);
}

.optContainer ul{
    text-align: center;
}

body::-webkit-scrollbar{
    display: none;
}

.body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

hr{
    margin-left: 25%;
    width: 50%;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
    cursor: default;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    text-shadow: rgb(255, 255, 255) 0 0 10px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15%;
}

p{
    color: rgb(145, 145, 145);
    width: 50%;
    margin-left: 25%;
    font-family: cursive;
    text-align: center;
    margin-bottom: 30px;
}

.learn h2{
    font-size: 30px;
    cursor: default;
    color: rgb(194, 194, 194);
    text-transform: capitalize;
    text-shadow: rgb(255, 255, 255) 0 0 10px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15%;
}

.learn li{
    color: rgb(145, 145, 145);
    text-align: left;
    width: 50%;
    font-family: cursive;
    margin: 10px 0 10px 25%;
}

.learn abbr{
    background-color: rgba(37, 37, 37, 0.5);
    border-radius: 10px;
    padding: 2px 5px 5px 5px;
}

.learn pre{
    color: rgb(145, 145, 145);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30px;
    background-color: rgba(31, 31, 31, 0.5);
    border-left: green solid 8px;
    border-radius: 0 10px 10px 0;
    padding: 10px 0 10px 0;
}
